.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.edit-user-title {
  color: #2c3e50;
}

.sign-in-content label {
  color: #2c3e50;
}

.edit-user-actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;

  .edit-button {
    flex: 1;
  }
}

@media (max-width: 480px) {
  .edit-user-actions {
    flex-direction: column;
  }
}
